#main{
 	border: 15px solid #6A82FB;
    width : 80%;
    min-height : 700px;
    padding: 10px;
    border-radius: 15px 50px 30px 5px;
    margin : auto;
    margin-top:30px;
    vertical-align:middle;
}

h1{
	font-size:2.5em;
}
h2{
	font-size:2em;
}
.grad{
font-size:150%;
background: #FEAC5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */

background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#content{
	border: 10px solid #FC5C7D;
    width : 80%;
    min-height : 450px;
    padding: 20px;
    padding-top:10px;
    border-radius: 30px;
    margin : auto;
    margin-top:15px;
    margin-bottom:15px;
    vertical-align:middle;
    text-align: center;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button{
vertical-align:middle;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* =============================================
* RADIO BUTTONS
=============================================== */


#radios label {
	cursor: pointer;
	position: relative;
}

#radios label + label {
	margin-left: 15px;
	
}

input[type="radio"] {
	opacity: 0; /* hidden but still tabable */
	position: absolute;
}

input[type="radio"] + span {
	font-family: 'Material Icons';
	border-radius: 50%;
	padding: 2px 7px 5px 7px;
	margin:30px;
	margin-top:40px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	font-size:45px;
}


input[type="radio"]:checked + span {
	color: #ffffff;
  	border:5px solid;
 	border-radius:45%;
}

input[type="radio"]:focus + span {
	color: #fff;
}

/* ================ TOOLTIPS ================= 

#radios label:hover::before {
	content: attr(for);
	font-family: Roboto, -apple-system, sans-serif;
	text-transform: capitalize;
	font-size: 12px;
	position: absolute;
	top: 170%;
	left: 0;
	right: 0;
	opacity: 0.75;
	background-color: #323232;
	color: #fff;	
	padding: 4px;
	border-radius: 3px;
  display: block;
}
*/
/* =============================================
* CENTERING, CONTAINER STYLING ETC || IGNORE
=============================================== */
A:link {text-decoration:none; color:#000000;}
A:visited {text-decoration:none; color:#000000;}
A:active {text-decoration:none; color:#000000;}
A:hover {text-decoration:none; color:#000000;}

#radios {
	text-align: center;
	margin 0 auto;
}

.container {
	margin: 20px auto;
}

html {
	height: 100%;
	font-family: 'Nanum Myeongjo';
}

body {
	background-color: white;
	display: flex;
	height: 100%;
	align-items: center;
	text-align: center;
}